body {
    background-color: #1F1F1F;
}

#onetext {
    font-style: cursive;
    font-size: 45px;
    text-align: center;
    font-family: 'Ysabeau Office', sans-serif;
    color: lightgreen;
    user-select: none;
}

#text2 {
    font-style: cursive;
    font-size: 20px;
}

#kyouchou1 {
    font-style: cursive;
    font-family: 'Noto Sans JP', sans-serif;
    color: lightgreen;
    font-size: 50px;

}

#text1 {
    font-style: cursive;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    color: lightgreen;
}

.btn-style {
    background: lightgreen;
    border-color: red;
}

#btn-play1 {
    font-style: cursive;
    color: blue;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    background: #00fa9a;
    border-color: #00fa9a;
    border-radius: 10px;
    width: 100px;
    height: 50px;
}