body {
    background-color: #1F1F1F;
}

ul{
    display: flex;
}

li {
    list-style: none;
}

a {
    user-select: none;
    font-style: cursive;
    font-family: 'Noto Sans JP', sans-serif;
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;
}
a:hover{
    color: rgb(214,237,248);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 5px;
    box-sizing: border-box;
}

#onetext {
    font-style: cursive;
    font-size: 45px;
    text-align: center;
    font-family: 'Ysabeau Office', sans-serif;
    color: lightgreen;
    user-select: none;
}

#text2 {
    user-select: none;
    font-style: cursive;
    font-size: 20px;
}

#kyouchou1 {
    user-select: none;
    font-style: cursive;
    font-family: 'Noto Sans JP', sans-serif;
    color: lightgreen;
    font-size: 50px;

}

#text1 {
    user-select: none;
    font-style: cursive;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    color: lightgreen;
}

.btn-style {
    background: lightgreen;
    border-color: red;
}

#btn-play1 {
    font-style: cursive;
    color: blue;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    background: #00fa9a;
    border-color: #00fa9a;
    border-radius: 10px;
    width: 100px;
    height: 50px;
}