body {
    
    background-color: #1F1F1F;
}

#youkoso {
    user-select: none;
    color: red;
    user-select: none;
    text-align: center;
}

#homeimage {
    user-select: none;
}

nav {
    width: 50%;
    height: 60px;
    background-color: #1F1F1F;
    padding-top: 5px;
    box-sizing: border-box;
}

ul {
    display: flex;
}

li {
    list-style: none;
}
#d2{
    user-select: none;
    color: red;
}
#d2:hover{
    user-select: none;
    color: blue;
}

#scretimg{
    width: 50px;
    height: 50px;
}